<div class="px-2">
    <h1>Disclaimer</h1>
    <article>
        <p>Cowin Helper is an open source <strong>Progressive Web Application</strong> that uses the <a href="https://apisetu.gov.in/public/api/cowin#/">Co-Win public API</a>. These APIs are available for use by all third party applications. The appointment availability data is cached and may be upto 30 minutes old. Further, these APIs are subject to a rate limit of 100 API calls per 5 minutes per IP. </p>
    </article>
    <article>
        <p>This application is created using <a href="https://angular.io">Angular</a> and hosted on <a href="https://vercel.com">Vercel</a>.</p>
    </article>
</div>
