<div class="px-2">
    <h1 class="px-2 py-2 text-2xl font-semibold">Disclaimer</h1>
    <article class="py-2 px-2">
        <p>Cowin Helper is an <a class="text-blue-700 hover:underline" href="https://github.com/krishnaanaril/cowin-helper">open source</a>&nbsp;<strong>Progressive Web Application</strong> that uses the <a class="text-blue-700 hover:underline" href="https://apisetu.gov.in/public/api/cowin#/">Co-Win public API</a>. These APIs are available for use by all third party applications. The appointment availability data is cached and may be upto 30 minutes old. Further, these APIs are subject to a rate limit of 100 API calls per 5 minutes per IP. </p>
    </article>
    <article class="py-2 px-2">
        <p>This application is created using <a class="text-blue-700 hover:underline" href="https://angular.io">Angular</a> and hosted on <a class="text-blue-700 hover:underline" href="https://vercel.com">Vercel</a>.</p>
    </article>
</div>
