
.active {
    background-color: rgba(252, 211, 77, 1);
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
}

.w-80 {
    width: 80%;
}

// .h-screen {
//     height: 100vh;
// }

.container {
    max-width: 760px;
    margin: 0px auto;
}