<div>
    <mat-list>
        <div mat-subheader>Active Watches</div>
        <mat-list-item class="my-2" *ngFor="let watch of (activeWatches$ | async)">
            <mat-icon color="accent" mat-list-icon>track_changes</mat-icon>
            <div mat-line [routerLink]="['/watch-details', watch.id]">
                <div>
                    <span *ngIf="watch.pin; else displayDistrict" class="font-semibold text-gray-700">Pin:
                        {{watch.pin}}</span>
                    <ng-template #displayDistrict>
                        <span class="font-semibold text-gray-700">{{watch.district}}, {{watch.state}}</span>
                    </ng-template>
                </div>
            </div>
            <div mat-line class="text-gray-500 text-base">Last updated: {{watch.lastUpdated | date:'d/M/y, h:mm a'}} </div>
            <div mat-line>
                <div>
                    <span *ngIf="watch?.deltaCenters >= 0; else displayReducedCenters" class="align-text-bottom text-green-700 font-semibold">{{localMath.abs(watch.totalCenters)}} Centers</span>
                    <ng-template #displayReducedCenters>
                        <span class="align-text-bottom text-red-700 font-semibold">{{localMath.abs(watch?.totalCenters ? watch.totalCenters : 0)}} Centers</span>
                    </ng-template>
                    <mat-icon *ngIf="watch?.deltaCenters >= 0; else displayReducedCentersIcon" mat-list-icon class="text-green-700 font-semibold">arrow_upward</mat-icon>
                    <ng-template #displayReducedCentersIcon>
                        <mat-icon mat-list-icon class="text-red-700 font-semibold">arrow_downward</mat-icon>
                    </ng-template>
                    <span *ngIf="watch?.deltaJabs >= 0; else displayReducedJabs" class="align-text-bottom text-green-700 font-semibold">{{localMath.abs(watch.totalJabs)}} Jabs</span>
                    <ng-template #displayReducedJabs>
                        <span class="align-text-bottom text-red-700 font-semibold">{{localMath.abs(watch?.totalJabs ? watch.totalJabs : 0)}} Jabs</span>
                    </ng-template>
                    <mat-icon *ngIf="watch?.deltaJabs >= 0; else displayReducedJabsIcon" mat-list-icon class="text-green-700 font-semibold">arrow_upward</mat-icon>
                    <ng-template #displayReducedJabsIcon>
                        <mat-icon mat-list-icon class="text-red-700 font-semibold">arrow_downward</mat-icon>
                    </ng-template>
                </div>
            </div>
            <div>
                <button class="focus:outline-none" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Watch menu options">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button class="focus:outline-none" mat-menu-item (click)="refreshWatch(watch.id)">
                        <mat-icon>refresh</mat-icon>
                        <span>Refresh</span>
                    </button>
                    <button class="focus:outline-none" mat-menu-item (click)="deleteWatch(watch.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>

            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>
<div>
    <button mat-raised-button type="button" color="primary" (click)="notifyTest()">Notify</button>
</div>
<div>
    <p>
        {{message}}
    </p>
</div>
<div class="fixed bottom-7 right-7">
    <button mat-fab aria-label="Add new repository" class="focus:outline-none" (click)="addWatch()">
        <mat-icon>add</mat-icon>
    </button>
</div>