<div class="px-5 py-2">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div>
            <mat-form-field class="w-full">
                <mat-label>State</mat-label>
                <input id="search-state" type="text" placeholder="Pick state" aria-label="State" matInput
                    formControlName="selectedState" [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayStateFn"
                    (optionSelected)="onStateSelectionChange($event)">
                    <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                        {{state.state_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="py-2">
            <mat-form-field class="w-full">
                <mat-label>District</mat-label>
                <input id="search-district" type="text" placeholder="Pick district" aria-label="District" matInput
                    formControlName="selectedDistrict" [matAutocomplete]="autoDistrict">
                <mat-autocomplete autoActiveFirstOption #autoDistrict="matAutocomplete"
                    [displayWith]="displayDistrictFn">
                    <mat-option *ngFor="let district of filteredDistricts | async" [value]="district">
                        {{district.district_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="py-2">
            <mat-form-field class="w-full">
                <mat-label>Choose a date</mat-label>
                <input id="search-date" matInput formControlName="date" [min]="minDate" [max]="maxDate"
                    [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="searchForm.get('date').hasError('required')">
                    Date is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="py-2">
            <mat-checkbox id="search-is-week" formControlName="isForWeek">
                Search for a week
            </mat-checkbox>
        </div>
        <div class="btn-block py-5">
            <button mat-raised-button type="submit" color="primary">Search</button>
        </div>
    </form>
</div>
<mat-divider></mat-divider>
<div>
    <div *ngIf="centersForDay?.length > 0">
        <div *ngFor="let center of centersForDay" class="mb-2">
            <ch-day-center-info [center]="center"></ch-day-center-info>
        </div>
    </div>
    <div *ngIf="centersForWeek?.length > 0">
        <div *ngFor="let center of centersForWeek" class="mb-2">
            <ch-week-center-info [center]="center"></ch-week-center-info>
        </div>
    </div>
    <mat-card *ngIf="showNoCenterMessage">
        <div class="header-block">
            <div class="icon-wrapper">
                <mat-icon color="accent" class="icon-place">error</mat-icon>
            </div>
            <div class="info-text">
                No centers found
            </div>
        </div>
    </mat-card>
</div>