.icon-place {
    width: 2rem;
    font-size: 2rem;
}

.time-section {    
    display: flex;    
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;

    mat-icon {
        margin-right: 0.5rem;
    }
}



.session-block {
    padding-top: 1rem;
}