.header-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgba(209, 250, 229, 1); //bg-yellow-200
    padding: 1rem;
    border-radius: 1rem;
}

h2, h3 {
    margin: 0px;
}

.center-name {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.center-address {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(156, 163, 175, 1); // txt-gray-400
}

.icon-wrapper {
    display: flex;
    align-items: baseline;
    padding: 0.5rem;
}

.icon-place {
    width: 2rem;
    font-size: 2rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}